* {
    margin:0;
    padding:0;
    outline:none
    }
    
    html{overflow-x:hidden;}
    html,body {
    height:100%;
    -webkit-font-smoothing:antialiased;
    
    }
    
    body {
    font:13px/20px "Open Sans",sans-serif;
    color:black;
    background:#fff;
    font-weight:300;
    
    }
    
    .beta-products-details{
        margin-bottom: 40px;
    }
    
    .single-item{
        padding-right: 30px;
    }
    
    .pull-left {
        margin-top: 10px;
        float: left;
    }
    .single-item {
        position: relative;
    }
    img {
        border: none;
        max-width: 100%;
    }
    .ribbon-wrapper {
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;
    }
    .ribbon.sale {
        background-color: #f90;
    }
    .ribbon {
        z-index: 999;
    }
    .ribbon {
        color: #fff;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 4px 0;
        left: 1px;
        top: 4px;
        width: 80px;
        text-transform: uppercase;
        background-color: #3a5c83;
    }
    .single-item-header {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .single-item-header img{
        width: 270px;
        height: 320px;
    }
    .single-item-title {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .single-item-price {
        font-size: 20px;
        color: #000;
    }
    .flash-del {
        text-decoration: line-through;
        margin-right: 10px;
    }
    .flash-sale {
        color: #f90;
    }
    .add-to-cart i {
        font-size: 22px;
        color: #fff;
        line-height: 35px;
    }
    .add-to-cart {
        background-color: #3a5c83;
        height: 35px;
        width: 40px;
        text-align: center;
        display: inline-block;
        margin-right: 2px;
    }
    .beta-btn.primary {
        margin-top: 15px;
        color: #606366;
        padding: 10px 20px;
        line-height: 100%;
    }
    .beta-btn {
        color: #fff;
        border: 1px solid #57a7c6;
        display: inline-block;
        padding: 6px 20px;
    }